body {
    font-family: 'Orbitron', sans-serif; 
    text-align:center;
    background-image: url("../images/ironmanbg.jpg");
    color: #fff;
}

h1 {
    font-weight: bolder;
    color: #fff;
    text-align:center;
}

